.login{
    display: flex;background: #DA2E21;width: 100%;height:100%;position: absolute;
    top: 0;bottom: 0;flex-direction: column;box-sizing: border-box;
}
.login .bigLogo{
    display: flex;justify-content: center;align-items: center;height:70%;
}
.loginBy{
    display: flex;flex-direction: column;justify-content: center;align-items: center;
}
.loginBy button{
    width: 2rem;margin: 0.1rem;border-radius: 0.25rem;padding: 0.05rem;
}
.login .telLogin{
    background: white;color: #DA2E21;border: white solid 1px;
}
.login .rightNow{
    background: #DA2E21;color: white;border: whitesmoke solid 1px;
}
.loginByOthers{
    display: flex;justify-content: space-between;width: 1.8rem;margin: 0.1rem 0;
}
.sure{
    color: white;font-size: 0.1rem;
}
.password{

}